<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :service_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :service_description %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date, id: :service_due_date %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :service_amount %>
  </div>

  <div class="field">
    <%= form.label :asignee_id %>
    <%= form.text_field :asignee_id, id: :service_asignee_id %>
  </div>

    <div class="field">
      <%= form.label :house_holds_id %>
      <%= form.text_field :house_holds_id, id: :service_house_holds_id %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
