<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @service.due_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @service.amount %>
</p>

<p>
  <strong>Asignee:</strong>
  <%= @service.asignee %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
