<!DOCTYPE html>
<html>
  <head>
    <title>House</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- Theme initialization -->


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

      <nav role="navigation" class="navbar navbar-light bg-faded">
            <%= link_to "House Hold Admin", root_path, {:class => "navbar-brand"} %>

            <ul class="nav ">
              <li class="nav-item active">

                <%= link_to "My Houses", house_holds_path, {:class => "nav-link"} %>
              </li>
              <li class="nav-item">
                <%= link_to "My Expenses", user_expenses_path(current_user), {:class => "nav-link"}  rescue nil %>
              </li>
              <li class="nav-item">
                <%= current_user.email rescue nil %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign Out", destroy_user_session_path %>
              </li>
            </ul>
          </div>

      </nav>
      <br>
      <div class="container-fluid">
        <%= yield %>
      </div>

  </body>
</html>
