<!DOCTYPE html>
<html>
  <head>
    <title>House</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !current_user.nil? %>
    Hola <strong><%= current_user.email rescue nil %> </strong><a href="users/sign_out">Cerrar Sesion</a>
      <hr>
    <%end%>

    <%= yield %>

  </body>
</html>
